.item{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.tarefas-div{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    
}

header{

}

#input-text{
    /*display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;*/
  /*  display: flex;
    flex-direction: row;
    
    
    justify-content: center;
    background-color: springgreen;*/
    
    
    
}

#input-text form{
    max-width: 500px;
    
   }

#inp{
    
}

.div-bt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}