{% extends 'base.html' %}
{% block title %}Lista de Tarefas{% endblock %}

{% block content %}
<div class='m-3 text-center'>
    <h1 id="logo">Tarefas</h1>
    
</div>

<header>
<div id='input-text' class='m-1'>
<form class="card mx-auto p-3" method="post">
<div id="inp" class="form-outline mx-auto">
  <input  type="text" name="titulo" class="form-control" />
  <label class="form-label" for="form12">Digite uma nova tarefa</label>
  
</div>
<div class='text-center mt-3'>
<button style="background-color: #0205d3;" type="submit" class="btn btn-primary">Salvar</button>
</div>
</form>
</div>
</header>


<div class="tarefas-div">
        {% for tarefa in tarefas %}
        <div class='card m-1'>
<div class="item">
    <div id="esq-elements">
    <p style="font-size: 18px" class=''>{{tarefa.titulo}}</p>
    {% if tarefa.created_at == None %}
    <small>Há algum tempo</small>
    {% else %}
    <small>{{tarefa.created_at}}</small>
    {% endif %}
    </div>
    <div class="div-bt">
        {% if tarefa.concluido == 'true' %}
           <a href='/update/{{tarefa.id}}'><button type="button" class="btn btn-primary btn-floating">
  <i class="fas fa-check"></i>
</button></a>
        {% else %}
   <a href='/update/{{tarefa.id}}'><button type="button" class="btn btn-warning btn-floating">
  <i class="fas fa-close"></i>
</button></a>
    {% endif %}
    <a href="/delete/{{tarefa.id}}"><button type="button" class="btn btn-danger btn-floating ms-1 me-1">
  <i class="fas fa-trash"></i>
</button></a>
    <button type="button" class="btn btn-primary btn-floating">
  <i class="far fa-edit"></i>
</button>
</div>
   </div>

</div>
   {% endfor %}
</div>
{% endblock %}