{% extends 'base.html' %}
{% block title %}Perfil - Tarefas App{% endblock %}

{% block content %}
<div id="perfil_container" class="card mx-auto mt-5">
    
	<img
id='img'
  src="{{ url_for('static', filename='images/user.png' )}}"
  alt="Townhouses and Skyscrapers"
  class="mx-auto"
/>
	<h2 class="mx-auto ">{{user.nome}}</h2>
	<p class="mx-auto ">{{user.email}}</p>

	<!-- <div class="card"> -->


	<div class="card-body mx-auto m-3">
		<div class="card-title"><p class='text-center'>PASTAS</p></div>
	{% for item in user.pastas %}
	
	<button type="button" class="btn btn-info btn-rounded p-2">{{item}}</button>
	{% endfor %}
</div>


<div class="mx-auto">
	<button type="button" class="btn btn-outline-dark m-2" data-mdb-ripple-color="dark">Sair</button>

</div>
<!-- </div> -->





</div>


{% endblock %}