{% extends 'base.html' %}
{% block title %}Perfil - Tarefas App{% endblock %}

{% block content %}
<div id="perfil_container" class="card mx-auto mt-5 p-4">
    
	<img
id='img'
  src="{{ url_for('static', filename='images/user.png' )}}"
  alt="Townhouses and Skyscrapers"
  class="mx-auto"
/>
	<h2 class="mx-auto ">{{user.nome}}</h2>
	<p class="mx-auto ">{{user.email}}</p>

	<!-- <div class="card"> -->


	<div class="card-body mx-auto m-3">
		<div class="card-title"><p class='text-center'>PASTAS</p></div>
	{% for item in user.pastas %}
	
	<button type="button" class="btn btn-info btn-rounded p-2">{{item}}</button>
	{% endfor %}
</div>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Total', 'Concluidas', 'Não concluidas'],
      datasets: [{
        label: 'Estatisticas',
        data: [{{dados.total}}, 19, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>



<div class="mx-auto">
	<a href="/logout"><button type="button" class="btn btn-outline-dark m-2" data-mdb-ripple-color="dark">Sair</button></a>

</div>
<!-- </div> -->





</div>


{% endblock %}