{% extends 'base.html' %}
{% block title %}Lista de Tarefas{% endblock %}


<div class="m-5">
{% block content %}
<div id="register_container" class='card p-3 mx-auto'>
  <div class='m-3 text-center'>
    <h1 id="logo">Tarefas</h1>
    
</div>
    <h2 class="m-3">Criar conta</h2>
    
<form action="/register" method="POST"  class='m-3'>
    
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
     <div class="form-outline">
        <input type="text" name="nome" class="form-control" />
        <label class="form-label" for="form3Example1">Nome</label>
      </div>
    </div>
    
  </div>

  <!-- Email input -->
    <div class="form-outline mb-4">
    <input type="email" name="email" class="form-control" />
    <label class="form-label" for="form3Example3">Email</label>
  </div>

  <!-- Password input -->
<div class="form-outline mb-4">
    <input type="senha" name="senha" class="form-control" />
    <label class="form-label" for="form3Example4">Senha</label>
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
   <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
    <label class="form-check-label" for="form2Example33">
      Concordo com todos os termos e condições.
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Criar conta</button>
  
  <div class="text-center">
    <p>Já tem conta? <a href="/login">Entrar</a></p>
   </div>

  <!-- Register buttons -->
 <!--  <div class="text-center">
    <p>ou entre com:</p>
    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div> -->
</form>
</div>
</div>
{% endblock %}