{% extends 'base.html' %}
{% block title %}Entrar - Lista de Tarefas{% endblock %}



{% block content %}
<div class='card m-3'>
    <h2 class="m-3">Entrar</h2>
    
<form action="" method="post" class='m-3'>
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="inp-email" class="form-control" />
    <label class="form-label" for="form3Example3">Email</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    {{ form.username(_class="form-control") }}
    <label class="form-label" for="form3Example4">Senha</label>
  </div>

  <!-- Checkbox 

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>ou entre com:</p>
    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>
</div>
{% endblock %}